#quiz-container {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #action-button {
    margin-top: 10px;
  }
  
  #action-button,
  #next-button {
      margin-top: 10px;
  }
  
  
  .btn:hover {
    background-color: #adaaaa;
  }
  
  
  .btn.selected {
    background-color: #374947; 
    color: #fff;
  }
  
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .feedback {
    color: #000000;
  }
  
  #night-mode-toggle {
    position: fixed;
    bottom: 10px;
    border-radius: 75%;
    right: 10px;
    z-index: 999;
  }
  .night-mode {
    background-color: #333;
    color: #fff;
  }
  #question-id
  {
    position: fixed;
    bottom: 10px;
    border-radius: 75%;
    left: 10px;
    z-index: 100; 
  }



body.night-mode {
    background-color: #333;
    color: #fff;
}

header.night-mode {
    background-color: #222;
}

main.night-mode {
    background-color: #000;
    color: #fff;
}
body.night-mode .resource-list li,
body.night-mode h2 {
    color: #fff !important;
}
main.night-mode {
    background-color: #333;
    color: #fff;
}